*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  margin: 0 auto;
  width: 80vw;
  
}

header{
  background-color: #dae7ff;
}

.header-container{
  max-width: 80vw;
  margin: 0 auto;
  padding: 15px;
}

.logo img{
  width: 100px;
}

.player{
display: grid;
grid-template-columns: 20% 80%;
grid-template-rows:50% 50% ;
}



.active:hover{
  cursor: pointer;
  background-color: #f1f6ff;
}
.titulos{
  grid-column-start: 1;
  border-bottom: 1px solid black;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  height: 30px;
}
.video{
  padding: 10px;
  grid-column-start: 2;
  width: 100%;
  height: 450px;
  
}

.clase-description{
  padding: 15px;
  grid-column-start: 2;
}

table{
  margin: 25px;
  width: 60%;
}

thead{
  background-color: #dae7ff;
}